#calc {
    width: 200px;
    background-color: rgb(116, 116, 230);
    border-radius: 4px;
}
#display {
    width: 85%;
    margin: 10px;
}
#button-container {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#button-container button {
    height: 30px;
    width: 30px;
}