body {
  background-color: black;
  background: #4B79A1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#calc {
  width: 371px;
  height: 637px;
  position: relative;
  left: 30vw;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(132, 224, 224);
  /* background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(108, 9, 121, 0.9724264705882353) 35%, rgba(0, 212, 255, 1) 100%);
}

#display {
  width: 94%;
  height: 12%;
  font-size: 47px;
  background-color: rgba(204, 220, 222, 0.321);
  border: 1px solid black;
  border-radius: 6px;
  margin: 13px 7px;
}

#button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

button {
  height: 75px;
  width: 104px;
  cursor: pointer;
  color: rgb(178, 99, 242);
  font-size: 47px;
  border-radius: 10px;

}