#calc {
    width: 200px;
    height: 350px;
    border: 2px solid black;
}

#display {
    width: 90%;
    height: 7%;
    border: 1px solid black;
    border-radius: 6px;
    margin: 2px 7px;
}

#button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

button {
    height: 49px;
    width: 57px;
}